body {
    font-family: 'lato', sans-serif;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heading{
    font-size: 4rem;
}